/* style.css */

html, body {
  height: 100%;
  text-align: center;
}

body {
  margin: 0;
/*   display: flex; */

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
n-items: center;
  font-family: Helvetica;
  font-size: 16px;
}
